  .search-box {
    position: relative;
    width: 100%;
    max-width: 36rem;
    height: 5rem;
    border-radius: 12rem;
  }
  .search-icon, .go-icon {
    position: absolute;
    top: 0;
    height: 6rem;
    width: 8.6rem;
    line-height: 6rem;
    text-align: center;
  }
  .search-icon {
    left: 0;
    pointer-events: none;
    font-size: 1.22em;
    will-change: transform;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform-origin: center center;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: transform 400ms 220ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .si-rotate {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  .go-icon {
    right: 0;
    pointer-events: none;
    font-size: 1.38em;
    will-change: opacity;
    cursor: default;
    opacity: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: opacity 190ms ease-out, transform 260ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .go-in {
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -o-transform: rotate(0);
    transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -webkit-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition: opacity 190ms ease-out, transform 260ms 20ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }
  .search-border {
    display: block;
    width: 100%;
    max-width: 36rem;
    height: 5rem;
  }
  .border {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 5;
    stroke-miterlimit: 10;
  }
  .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -webkit-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -moz-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
    -o-transition: stroke-dashoffset 400ms cubic-bezier(0.600, 0.040, 0.735, 0.990);
  }
  .border-searching .border {
    stroke-dasharray: 740;
    stroke-dashoffset: 459;
    transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -webkit-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -moz-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
    -o-transition: stroke-dashoffset 650ms cubic-bezier(0.755, 0.150, 0.205, 1.000);
  }
  #search {
    font-family: 'Montserrat Alternates', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12rem;
    border: none;
    background: rgba(255,255,255,0);
    padding: 0 6.8rem 0 6.8rem;
    color: #FFFFFF;
    font-size: 1.32em;
    font-weight: 400;
    letter-spacing: -0.015em;
    outline: none;
  }
  #search::-webkit-input-placeholder {color: #FFFFFF;}
  #search::-moz-placeholder {color: #FFFFFF;}
  #search:-ms-input-placeholder {color: #FFFFFF;}
  #search:-moz-placeholder {color: #FFFFFF;}
  #search::-moz-selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}
  #search::selection {color: #FFFFFF; background: rgba(0,0,0,0.25);}
  


.landing-slide{
    width: 100%;
    height: 100%;
}
.affix {
    position: fixed;
    top: 50px;
    z-index: 1;
}
.row{
    margin-left: 0px;
}
.partner{
    position: relative;
    display: block;
    float: left;
    width: 100%;
}
.menu-product{
    position: relative;
    display: block;
    float: left;
    width: 100%;

}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md  if col-md-4*/
    .carousel-inner#carousel-doitac .active.col-md-4.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm  if col-sm-6*/
    .carousel-inner#carousel-doitac .active.col-sm-6.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item#doitac {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner#carousel-doitac .active#doitac+.carousel-item#doitac {
        display: block;
    }
    .carousel-inner#carousel-doitac .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner#carousel-doitac .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item#doitac {
        transition: none;
    }
    .carousel-inner#carousel-doitac .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active#doitac.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item#doitac,
    .carousel-item-next.carousel-item-left+.carousel-item#doitac+.carousel-item#doitac {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be abso position for animations */
    .carousel-inner#carousel-doitac .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active#doitac.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item#doitac,
    .carousel-item-prev.carousel-item-right+.carousel-item#doitac+.carousel-item#doitac {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/*MD*/

@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner#carousel-doitac .carousel-item.active#doitac+.carousel-item#doitac+.carousel-item#doitac {
        display: block;
    }
    .carousel-inner#carousel-doitac .carousel-item.active#doitac:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item#doitac+.carousel-item#doitac {
        transition: none;
    }
    .carousel-inner#carousel-doitac .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

/*LG */

@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner#carousel-doitac .active#doitac+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        display: block;
    }
    .carousel-inner#carousel-doitac .carousel-item.active#doitac:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner#carousel-doitac .active.col-lg-3.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac+.carousel-item#doitac {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}





.wapper {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    clear: both;
    background: #fff;
    margin-bottom: 8px;
    box-shadow: 0 1px 6px #dcdcdc
}



.wapper .wapcontent h1 {
    font-family: Roboto-medium;
    font-size: 18px;
    font-weight: normal;
    margin-top: 30px
}

.wapper .wapcontent h1 span {
    font-size: 14px;
    color: #d02028;
    font-family: Roboto-regular
}

.wapper .wapcontent h2 {
    margin: 30px 0 10px 0;
    font-weight: normal;
    float: left;
    width: 100%;
    font-family: Roboto-medium;
    height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding-right: 50px
}

.wapper .wapcontent h2 a {
    text-decoration: none;
    display: block;
    width: auto;
    float: left;
    padding: 2px 6px 2px 4px;
    font-size: 13px;
    font-family: Roboto-regular;
    color: #6a6a6a
}

.wapper .wapcontent h2 a:first-child {
    font-family: Roboto-medium;
    color: #000;
    padding-left: 0;
    font-size: 18px
}

.wapper .wapcontent h2 a:last-child {
    float: right;
    padding-right: 0;
    color: #d02028;
    top: 30px;
    right: 0
}

.wapper .wapcontent h2 a:hover {
    color: #d02028;
    border-bottom: 1px solid #d02028
}

.wapper .wapcontent .text-center {
    text-align: center
}

.wapper .wapcontent .text-center .img-responsive {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%
}

.wapper .wapcontent .carousel {
    margin-bottom: 30px
}

.wapper .wapcontent .carousel .carousel-control.left {
    left: 0;
    height: 50px;
    width: 35px
}

.wapper .wapcontent .carousel .carousel-control.right {
    right: 0;
    height: 50px;
    width: 35px
}


.wapper .wapcontent .bknow-collection .item {
    position: relative;
    margin-bottom: 10px
}

.wapper .wapcontent .bknow-collection .item a {
    text-decoration: none;
    position: relative;
    display: block;
    min-height: 210px;
    background: #eee
}

.wapper .wapcontent .bknow-collection .item .wapsale {
    width: 40px;
    display: block;
    position: absolute;
    background: rgba(243, 5, 5, .78);
    color: #fff;
    border-radius: 50%;
    height: 40px;
    top: 10px;
    right: 9px;
    text-align: center
}

.wapper .wapcontent .bknow-collection .item .wapsale span {
    font-weight: bold;
    font-size: 16px;
    padding: 10px 1px 0 1px;
    display: block
}

.wapper .wapcontent .bknow-collection .item .wapsale aside {
    font-size: 12px;
    line-height: 18px;
    display: none
}

.wapper .wapcontent .bknow-collection .item .wapfooter {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, .6);
    height: 40px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    z-index: 9;
    padding: 5px 5px 0 5px;
    line-height: 18px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px
}

.wapper .wapcontent .bknow-collection .item .wapfooter .textname {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    padding: 6px 6px 2px 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden
}

.wapper .wapcontent .bknow-collection .item .wapfooter .text-address {
    font-size: 11px;
    color: #d1d1d1;
    margin: 0;
    padding: 0 6px 0 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wapper .wapcontent .bknow-collection .col-md-12 a {
    color: #d02028;
    text-decoration: none;
    display: inline-block;
    padding: 12px 0
}


h3
{
    display: block;
    font-weight: normal;
    line-height: 2.2rem;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 0;
}

 .dropdown-menu{
     border: 0;
 }
h2 {
    font-size: 16px;
    margin: 6px 0 5px;
    padding: 10px;
    font-weight: 700;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
    color: #000
}
.article{
    display: block;
    max-width: 308px;
    width: 100%;
    position: relative;
    min-height: 200px;
    background: #fff;
    box-shadow: 0 1px 6px #dcdcdc;
    margin-bottom: 10px;
    overflow: hidden;
    clear: both;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group-btn {
    width: 1%;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;

}

article .form-group {
    padding: 5px 6px;
    text-align: center
}

article .form-group p {
    color: gray;
    font-size: 13px;
    margin: 0 0 6px 0
}

article .form-group .text-center {
    color: #d02028;
    font-size: 13px;
    font-weight: 700;
    margin-top: 0;
    padding-bottom: 0
}

article .form-group textarea {
    background: #ebebeb;
    box-shadow: none;
    border-radius: 0;
    border-right: 1px solid #ccc;
    font-size: 13px;
    color: #424242;
    width: 100%;
    margin: 5px 0
}

article .form-group #txtErMessage {
    color: #d02028
}

article .form-group #btn-booking {
    background: #d02028;
    border-radius: 20px;
    font-family: Arial;
    border-color: #d02028;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    display: block;
    margin: 15px 0;
    color: #fff;
    text-transform: uppercase;
    width: 100%
}

article .form-group .booking-call {
    color: #888787;
    margin: 10px 0;
    font-size: 13px
}
article .form-group .booking-call .phone-number {
    color: #d02028;
    font-weight: 700;
    font-size: 18px
}
article .form-group .input-group {
    padding: 5px 0
}
article .form-group .input-group .input-group-addon {
    border: 1px solid #ccc;
    padding: 0;
    border-right: none;
    border-left: none
}


article .form-group .input-group #txtNgayDenDesktop,
article .form-group .input-group #txtnbooking-adults {
    border-right: none
}

article #txtNgayDen,
article #txtSoNguoiLon {
    border-right: none
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    outline: none;
    -webkit-appearance: none;
    border-radius: 0;
    box-shadow: none
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent
}
.vertical-text
{
    transform: rotate(270deg);
    padding: 4rem 0rem;
    text-align: center;
    font-size: 1.2rem;
}
#datcho{
    margin-top: 50px;
}